@media screen and (max-width:1240px){
    /* padding: 0 60px; */
/* 이벤트 타이틀 */
    main .event_wrap {
        margin: 0 auto;
        border-radius: 10px;
        
    }
    main .event_wrap .event_title {
        background-color:#252525 ;
        border-radius: 5px;
    }
    /* 선물상자 이미지 */
    main .event_wrap .event_title img{
        width: 60px;
    }
    main .event_wrap .event_title h1 {

    }
/* 이벤트 타이틀 */

/* 전체 감싸는 선택자 */
main .event_wrap .event_middle {
    padding: 0 60px; 
}
/* 탭 */
main .event_wrap .event_title_tap {
   width: 100%; 
   /* 18px -> 16px; */
    font-size: 1rem;
}
/* 이미지 */
main .event_wrap .event_middle .event_content a .content_left img {
    width: 230px; border-radius: 10px;
    margin-bottom: 10px;
}

/* 폰트---------------------- */
/* 선물상자 밑 글 */
main .event_wrap .event_title h1 {/* 24-> 22  */
    font-size: 1rem; color: #fff;
}

main .event_wrap .event_middle .event_content a .content_right {
    width: 360px; /* auto 줬더니 날라가서
    여기 값 지정해줘도 반응형때 문제 없을련지? 111 */
    padding: 0px 0px 0px 0px;
   /*  vertical-align: top; */
    display: block;
    display: flex;
    flex-flow: row wrap;
}
/* 탭 공통 폰트 */

main .event_wrap .event_title_tap .event_font1{
    /* 18px - > 16px */
    font-size: 1rem;
}
main .event_wrap .event_middle .event_content a .content_right .event_h1 {
    /* 20px - 18px */
    width: 100%;
    font-size: 1.125rem;
}
/* 하위 공통 폰트 */
main .event_wrap .event_middle .event_content a .content_right .event_font2 {

}
/* 기간 경품 */
main .event_wrap .event_middle .event_content a .content_right .event_h {
    color: #a5a5a5;  width: 40px; 
    flex-flow: column wrap;
    font-size: 0.875rem;
}

main .event_wrap .event_middle .event_content a .content_right .event_c {
    color: #717171;  width: calc(100% - 70px);
    font-size: 0.875rem;
}

} /* 1240 */


@media screen and (max-width:768px){
    main .event_wrap .event_middle .event_content a {
        flex-flow: column nowrap;
    
    }
    /* 선물상자 이미지 */
    main .event_wrap .event_title img{
        width: 60px;
    }
    main .event_wrap .event_middle .event_content a .content_left{
        margin-bottom: 20px;
    }
    main .event_wrap .event_middle .event_content a .content_right {
        margin-bottom: 30px;
    }
    main .event_wrap .event_title {
        display: none;
    }
    main .event_wrap .event_title_tap {
        
    }
    main .event_wrap .event_middle .event_content a .content_left img{
        width: 338px; height: 188px;
        border-radius: 0%;
    }
    .main .event_wrap .event_title_tap .event_font1 {
        margin-left: 53px;
    }

    main .event_wrap .event_title_tap .nontaget{
        margin-top: 20px;
    }
    main .event_wrap .event_title_tap {
        display: flex;
        justify-content: space-around;
    }
    main .event_wrap .event_middle .page_a {
        display: none;
    }
    main .event_wrap .event_middle .event_content::after {
        display: none;
    }
    main .event_wrap .event_middle .event_content a {
        text-align: center;
    }
    main .event_wrap .event_middle .event_content a .content_right {
       width: 100%;
    }
    main .event_wrap .event_middle .event_content a .content_right .event_h1{
        display: block;
    }
    main .event_wrap .event_middle .event_content a .content_right .event_h {
        display: none;
    }
} /* 768 */

@media screen and (max-width:500px){
    main .event_wrap .event_middle .event_content a {
        flex-flow: column nowrap;
    }
    main .event_wrap .event_middle .event_content a .content_left{
        margin-bottom: 20px;
    }

    main .event_wrap .event_middle .event_content a .content_right {
        margin-bottom: 30px;
    }

    main .event_wrap .event_middle .event_content a .content_right .event_h {
        display: block;
    }
}
@media screen and (max-width:320px){
    
}