/* holding_coin_main -> 안쪽 회색박스 줄어듬 */
/*<div class="not_coin"> - > 밑에 사진도 줄어들고 글자도 작아짐  */
@media screen and (max-width:1240px) {
    /*  760px일때 이 디자인으로 보여라. */
    main .holding_coin_wrap{
        margin: 0 auto;
        border-radius: 10px;
    }
    main .holding_coin_wrap  .holding_title {
        background-color:#252525 ;
        border-radius: 5px;
    }
    
    main .holding_coin_wrap .main_wrap {
        padding: 0 60px;
    }
    /* 폰트 */
    /* 코인내역 */
    main .holding_coin_wrap .holding_title h1 {
        font-size:  1.375rem; color: #fff;
        padding: 0 60px;
    }

    /* 보유 코인 내역 */
    main .holding_coin_wrap .main_wrap .holding_coin_middle .holding_middle_title h3 {
        font-size: 1.375rem; color:#fff;
        margin-bottom: 10px;
    }
    /* 코인충전 */
    main .holding_coin_wrap .main_wrap .holding_coin_middle .holding_middle_title a span {
        color: #3887ff; position: relative;  bottom: 7px; font-size: 0.75rem;
    }

    /* 총코인 */
    main .holding_coin_wrap .main_wrap .holding_coin_middle .holding_coin_main .total_coin span {
        color: #a5a5a5; display: block; font-size: 1.1rem;
    }
    /* 충전코인 */
    main .holding_coin_wrap .main_wrap .holding_coin_middle .holding_coin_main .charging_coin span {
        color: #a5a5a5; display: block; font-size: 1.1rem;
    }

    /* 보너스 코인 */
    main .holding_coin_wrap .main_wrap .holding_coin_middle .holding_coin_main .bonus_coin span {
        font-size: 1.1rem; color: #a5a5a5; display: block; 
    }

    /* 회색 박스 안 숫자 */
    /* 총코인 0 */
    main .holding_coin_wrap .main_wrap .holding_coin_middle .holding_coin_main .total_coin em{
        color: #fff; 
        font-size: 2.975rem;
    }

    /* 충전 코인 0 */
    main .holding_coin_wrap .main_wrap .holding_coin_middle .holding_coin_main .charging_coin em{
        color: #fff;
        font-size: 2.975rem;
    }
    /* 보너스 코인 0 */
    main .holding_coin_wrap .main_wrap .holding_coin_middle .holding_coin_main .bonus_coin em {
        color: #fff;
        font-size: 2.975rem;
    }

    /* 적립코인 */
    main .holding_coin_wrap .main_wrap .holding_exhaust .holding_exhaust_nav li .holding_coin_nav{
        font-size: 1rem; color: #a5a5a5; position: relative;
    }

    /* 소진코인 */
    main .holding_coin_wrap .main_wrap .holding_exhaust .holding_exhaust_nav li .exhaust_coin_nav {
        font-size: 1rem; color: #a5a5a5;
    }
    /* 쿠폰이 없어요. 부분 */

    /* 적립 코인이 없어요 */
    main .holding_coin_wrap .not_coin .holding_not_coin  p {
        font-size: 1.56rem; color: #a5a5a5;
        margin-top: 10px;
    }
    /* 소진된 코인이 없어요 */
    main .holding_coin_wrap .not_coin .exhaust_not_coin  p {
        font-size: 1.56rem; color: #a5a5a5;
        margin-top: 10px;
    }
    /* 폰트 끝 -------------------------------------------------------------------------*/

    /* 밑에 경고 이미지 사이즈  */
    main .holding_coin_wrap .not_coin .holding_not_coin img {
        width: 70px;
    }

    main .holding_coin_wrap .not_coin .exhaust_not_coin img {
        width: 70px;
    }

    /* 보유코인 & 충전코인 */
    main .holding_coin_wrap .main_wrap .holding_coin_middle .holding_middle_title {
        display: flex; justify-content: space-between;
        margin-bottom: 20px;
        width: 100%; height: 100%;
    }
    /* 안에 회색박스 */
    main .holding_coin_wrap .main_wrap .holding_coin_middle .holding_coin_main{
        width: 100%; height: 100%;
    }
    main .holding_coin_wrap .main_wrap .holding_exhaust {
        width: 100%; height: 100%;
    }
    
    main .holding_coin_wrap .main_wrap .m_coin_btn{
        display: none;
    }

}/* 1240px 끝 */


@media screen and (max-width:768px){
    /* 안쪽 회색박스 */
    main .holding_coin_wrap .main_wrap .holding_coin_middle .holding_coin_main{
        width:100%;
    }

    main .holding_coin_wrap .main_wrap .m_coin_btn{
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        border: 1px solid #1351f9;
        border-radius: 20px;
        padding: 10px 10px 10px 10px;
        background:#1351f9;
        margin: 30px 90px 10px 90px;
        color: #fff;
    }
    main .holding_coin_wrap .main_wrap .m_coin_btn span {
        color: #fff;
        display: block;
    }
    main .holding_coin_wrap .main_wrap .holding_coin_middle .holding_middle_title a {
        display: none;
    }

    main .holding_coin_wrap .main_wrap .holding_coin_middle .holding_coin_main .coin_em em {
      font-size:2.3125rem;
    }
    
  
}/* 768px 끝 */

@media screen and (max-width:430px){

}
@media screen and (max-width:320px){
    main .holding_coin_wrap{
       
    }
    main .holding_coin_wrap .main_wrap{
        padding:  0 60px;
        margin: 0 auto;
        height: 500px;  
    }
}