@media screen and (max-width:1240px){
    section {
        padding: 0 60px;
    }

    main .login .m_title {
        display: none;
    }
}
@media screen and (max-width:768px){

    section .contents .content_box {
        padding: 20px;
    }


    section .contents .line {
        display: none;
    }
    section .contents .content_box form fieldset ul li p {
        align-items: flex-start;
    }
    section .contents {
        background: #1b1b1b;
    }

    section .contents .content_box h1 {
        font-size: 1.4375rem;
        text-align: center;
       margin-bottom: 35px;
    }
    
    section .contents .content_box h2 {
       /*  font-size: 0.8125rem; */
    }
    section .contents .content_box .sns_join a img {
        width: 50px ;height: 50px;
    } 
    section .contents .content_box .sns_join {
        padding: 30px 0px
    }
    section .contents .content_box h2 {
    
    }
    section .contents .content_box h2::before {
    background: #2f2f2f;
    display: inline-block;
    content: "";
    width: 20%;
    height: 1px;

    transform: translateY(-50%);
    }
    section .contents .content_box h2::after {
    background: #2f2f2f;
    display: inline-block;
    content: "";
    width: 20%;
    height: 1px;
   
    transform: translateY(-50%);
    }

    section .contents .bottom_text {
        font-size: 0.8125rem;
    }
    section .contents .content_box form fieldset ul li:nth-child(2) p {
        align-items: center;
    }
    section .contents .content_box h2::before {
        display: none;
    }
    section .contents .content_box h2::after {
        display: none;
    }
    section .contents .content_box .m_join_title{
        font-weight: bold;
    }
    section .contents .content_box .w_join_title{
        display: none;
    }
    section .contents .content_box .m_join_title {
        display: block;
    }

}
