@media screen and (max-width:1240px){
    main .title_wrap .title {
        padding: 40px 60px;
    }
    main .membership {
        padding: 0 30px ;
    }
    main .warning {
        padding: 0 60px 20px;
    }
    main .event img {max-width: 768px;}
}
@media screen and (max-width :1024px) {
    main .membership {padding: 0;}
    main .membership .wavve .step dt button span {
        font-size: 0.875rem;
    }
    main .membership .wavve .step dt button .left .discount{
        font-size: 0.675rem;
    }
    main .membership .wavve .step dt button{
        padding: 0px 10px;
    }
    main .membership .wavve .step dt button .right .division {
        font-size: 0.6rem;
    }
}
@media screen and (max-width:768px){
    main .event img {max-width: 430px;}
    main .membership .partnership ul li .partner .price {
        display: flex; flex-flow: column nowrap;
        align-items: center;
    }
    main .membership .partnership ul li .partner .price span {margin: 0 0 10px 0;}
    main .membership .partnership .benefit {padding: 36px 20px;}
    main .membership .partnership .benefit p {font-size: 0.75rem;}
    main .warning p,
    main .warning span,
    main .warning span a {font-size: 0.75rem;}
    main .membership .wavve .step:first-child dt:first-child{
        width: 137px;
    }
    main .membership .wavve .step dt {
        width: calc((100% - 137px) / 3);
        padding: 55px 0px 23px;
    }
    main .membership .wavve dl dt{
        width: 138px;
    }
    main .membership .wavve dl dd{
        width: calc((100% - 132px) / 3);
    }
    main .membership .wavve .step dt h2 {
        font-size: 0.825rem; margin-bottom: 20opx;
    }
    main .membership .wavve .step dt button .left .discount{
        padding: 0px 6px;
    }
    main .membership .wavve .step dt button {
        background: none;
    }
    main .membership .wavve dl dt{
        font-size: 0.825rem;
    }
    main .membership .wavve .step dt button {
        flex-flow: column nowrap; height: 55px;
    }
    main .membership .wavve .step dt button:nth-of-type(1) {
        height: 35px; margin-bottom: 40px;
    }
    main .membership .wavve .step dt button .right .division{
        font-size: 0.6rem;
    }
    
}
@media screen and (max-width:430px){
    
}
@media screen and (max-width:320px){
    
}