/* main */
main {
    background-color: #1b1b1b
}
main .main_title {
    padding: 40px 0; background-color: #252525; 
    width: 100%; margin-bottom: 40px;
}
main .main_title h1 {
    font-size: 1.5rem ;color: #fff;
    margin: 0 34.5px;
    max-width: 1240px; margin: 0 auto;
}
main .customer_service {
    max-width: 1240px; margin: 0 auto;
    padding-bottom: 80px;
}
main .customer_service .contents_title {
    margin-bottom: 40px;
    overflow: hidden; border-radius: 8px;
    display: flex; flex-flow: row nowrap;
    justify-content:  space-between;
}
main .customer_service .contents_title a {
    width: 25%; background-color: #252525;
    height: 50px; display: flex; align-items: center;
    justify-content: center;
    color: #a5a5a5;
}
main .customer_service .contents_title a:nth-child(1){
    background: #1351f9; color: #fff; 
}
/* 공지사항 */
main .customer_service .notice {}
main .customer_service .notice .notice_title {
    display: flex; justify-content: space-between;
    align-items: center; padding-bottom: 20px;
}
main .customer_service .notice .notice_title .notice_category {}
main .customer_service .notice .notice_title .notice_category a {
    font-size: 1.25rem; color: #a5a5a5;
    margin-right: 12px;
    padding-right: 12px; position: relative;
}
main .customer_service .notice .notice_title .notice_category a::after {
    content: ''; display: inline-block;
    background: #2f2f2f; width: 1px;
    height: 18px; transform: translateY(-50%);
    position: absolute; top: 50%; margin: 0 12px;
}
main .customer_service .notice .notice_title .notice_category a:last-child::after {background: none;}
main .customer_service .notice .notice_title .notice_category a:first-child {color: #fff;}
main .customer_service .notice .notice_title #noticeFrm {}
main .customer_service .notice .notice_title #noticeFrm fieldset {}
main .customer_service .notice .notice_title #noticeFrm fieldset #notice_search {
    width: 280px; height: 34px; color: #a5a5a5;
    font-weight: 700;
    padding: 0 20px; background: #252525;
    border-radius: 5px; font-size: 0.875rem;
}
main .customer_service .notice .notice_title #noticeFrm fieldset #noticeBtn {
    width: 54px; height: 34px; color: #fff;
    background: #1351f9; border-radius: 30px;
    font-size: 0.875rem; margin-left: 5px;
}
main .customer_service .notice .notice_info {
    border-top: 2px solid #2f2f2f;
    padding-bottom: 40px;
}
main .customer_service .notice .notice_info dl {
    display: flex; border-bottom: 1px solid #2f2f2f;
}
main .customer_service .notice .notice_info dl dt {
    padding: 15px 0; color: #a5a5a5;
    width: 10%; text-align: center;
    font-size: 0.938rem; font-weight: 700;
}
main .customer_service .notice .notice_info dl .title {width: 80%;}
main .customer_service .notice .notice_info dl dd {
    padding: 15px 0; color: #a5a5a5;
    font-size: 0.875rem; width: 10%;
    text-align: center;
}
main .customer_service .notice .notice_info dl .contents {
    width: 80%; text-align: left;
}
main .customer_service .notice .notice_info dl dd a {
    color: #a5a5a5; font-size: 0.875rem;
    margin-right: 10px; padding-left: 20px;
}
main .customer_service .notice .notice_page {
    padding-bottom: 80px;
    display: flex; justify-content: center;
}
main .customer_service .notice .notice_page a {
    color: #a5a5a5; width: 36px; height: 36px;
    font-size: 0.875rem; display: flex;
    justify-content: center; align-items: center;
}
main .customer_service .notice .notice_page a:first-child {
    color: #fff; border: 1px solid #fff;
    border-radius: 50%;
}
/* 자주 묻는 질문 FAQ */
main .customer_service .faq {
    padding-bottom: 80px;
}
main .customer_service .faq .faq_top {
    background: #252525; padding: 40px 169px;
    max-width: 1240px; margin: 0 auto 40px;
}
main .customer_service .faq .faq_top h2 {
    font-size: 1.625rem; color: #fff;
    padding-bottom: 24px; text-align: center;
}
main .customer_service .faq .faq_top #faqFrm {
    padding-bottom: 24px;
}
main .customer_service .faq .faq_top #faqFrm fieldset {
    display: flex; justify-content: space-between;
}
main .customer_service .faq .faq_top #faqFrm fieldset #faq_search {
    width: 100%; height: 46px; font-size: 0.875rem;
    padding: 0 20px; background: #2f2f2f; color: #a5a5a5;
    border-radius: 10px;
}
main .customer_service .faq .faq_top #faqFrm fieldset #faqBtn {
    width: 119px; height: 46px; margin-left: 10px;
    background: #1351f9; color: #fff;
    border-radius: 50px; font-size: 0.813rem;
    font-weight: 700;
}
main .customer_service .faq .faq_top .faq_often {
    display: flex; align-items: center;
}
main .customer_service .faq .faq_top .faq_often h3 {
    font-size: 1.125rem; color: #a5a5a5;
    padding-right: 20px;
}
main .customer_service .faq .faq_top .faq_often a {
    font-size: 0.875rem; color: #a5a5a5;
    text-decoration: underline; margin-left: 20px;
}
main .customer_service .faq .faq_category {padding-bottom: 20px;}
main .customer_service .faq .faq_category a {
    font-size: 1.25rem; color: #a5a5a5;
    margin-right: 12px;
    padding-right: 12px; position: relative;
}
main .customer_service .faq .faq_category a::after {
    content: ''; display: inline-block;
    background: #2f2f2f; width: 1px;
    height: 18px; transform: translateY(-50%);
    position: absolute; top: 50%; margin: 0 12px;
}
main .customer_service .faq .faq_category a:first-child {color: #fff;}
main .customer_service .faq .faq_category a:last-child::after {background: none;}
main .customer_service .faq .faq_info {
    border-top: 2px solid #2f2f2f;
}
main .customer_service .faq .faq_info a {
    border-bottom: 1px solid #2f2f2f;
    display: flex; position: relative;
}
main .customer_service .faq .faq_info a h3 {
    color: #a5a5a5; width: 187px; padding: 27px 0 27px 27px;
    font-size: 0.938rem; font-weight: 700;
}
main .customer_service .faq .faq_info a p {
    color: #a5a5a5; font-size: 0.938rem;
    padding: 27px 0;
}
main .customer_service .faq .faq_info a p img {
    position: absolute; right: 0; top: 50%;
    transform: translateY(-50%); transition: 0.5s;
}
main .customer_service .faq .faq_info .faq_contents {
    padding: 25px 56px 25px 188px;
    border-bottom: 1px solid #2f2f2f;
}
main .customer_service .faq .faq_info .faq_contents p {
    color: #a5a5a5; font-size: 0.938rem;
    line-height: 1.5;
}
main .customer_service .faq .faq_info #contentsBtn {
    color: #a5a5a5; font-size: 0.875rem;
    display: flex; align-items: center;
    padding: 10px 20px; width: 100px; margin: 10px auto 0;
}
main .customer_service .faq .faq_info #contentsBtn img {
    width: 16px; margin-left: 1px;
}
/* 1:1 문의 */
main .customer_service .inquiry {}
main .customer_service .inquiry .inquiry_top {
    max-width: 1240px; margin: 0 auto;
    background: #252525; padding: 48px 60px;
    border-radius: 5px;
}
main .customer_service .inquiry .inquiry_top .number_time {
    display: flex; align-items: center;
}
main .customer_service .inquiry .inquiry_top .number_time .number {
    color: #3887ff; font-size: 2.25rem;
    font-weight: 700; margin-right: 20px;
    display: flex; align-items: center;
}
main .customer_service .inquiry .inquiry_top .number_time .number img {margin-right: 10px;}
main .customer_service .inquiry .inquiry_top .number_time p {
    color: #a5a5a5; font-size: 0.875rem;
    position: relative; margin-right: 8px; padding-right: 8px;
}
main .customer_service .inquiry .inquiry_top .number_time p::after {
    content: ''; display: inline-block;
    background: #a5a5a5; width: 1px; height: 12px;
    transform: translateY(-50%);
    position: absolute; top: 50%; right: 0;
}
main .customer_service .inquiry .inquiry_top .number_time p:last-child::after {background: none;}
main .customer_service .inquiry .inquiry_top .inquiry_help {
    display: flex; justify-content: space-between;
    margin-top: 11px; align-items: center;
}
main .customer_service .inquiry .inquiry_top .inquiry_help p {
    color: #a5a5a5;
}
main .customer_service .inquiry .inquiry_top .inquiry_help #inquiryBtn {
    width: 178px; height: 44px; border-radius: 50px;
    background: #1351f9; color: #fff;
}
main .customer_service .inquiry .inquiry_info {padding: 40px 0 80px;}
main .customer_service .inquiry .inquiry_info h2 {
    margin-bottom: 12px; color: #fff;
    font-size: 1.5rem;
}
main .customer_service .inquiry .inquiry_info .my_inquiry {
    padding: 100px 0; display: flex; flex-flow: column nowrap;
    justify-content: center; align-items: center;
}
main .customer_service .inquiry .inquiry_info .my_inquiry img {}
main .customer_service .inquiry .inquiry_info .my_inquiry span {
    margin-top: 12px; font-size: 1.375rem;
    color: #a5a5a5;
}
/* 이용약관 */
main .customer_service .agree {}
main .customer_service .agree .agree_category {padding-bottom: 20px;}
main .customer_service .agree .agree_category a {
    font-size: 1.25rem; color: #a5a5a5;
    margin-right: 12px;
    padding-right: 12px; position: relative;
}
main .customer_service .agree .agree_category a::after {
    content: ''; display: inline-block;
    background: #2f2f2f; width: 1px;
    height: 18px; transform: translateY(-50%);
    position: absolute; top: 50%; margin: 0 12px;
}
main .customer_service .agree .agree_category a:first-child {color: #fff;}
main .customer_service .agree .agree_category a:last-child::after {background: none;}
main .customer_service .agree .agree_contents {}
main .customer_service .agree .agree_contents .agree_title {
    display: flex; justify-content: space-between;
    margin: 30px 0 19px; align-items: center;
}
main .customer_service .agree .agree_contents .agree_title .agree_left {
    display: flex; align-items: flex-end;
}
main .customer_service .agree .agree_contents .agree_title .agree_left h2 {
    font-size: 1.5rem; color: #a5a5a5;
    font-weight: 700; margin-right: 10px;
}
main .customer_service .agree .agree_contents .agree_title .agree_left p {
    color: #717171; font-size: 0.875rem;
    font-weight: 700;
}
main .customer_service .agree .agree_contents .agree_title .agree_right {}
main .customer_service .agree .agree_contents .agree_title .agree_right a {
    color: #3887ff; display: flex;
    align-items: center;
}
main .customer_service .agree .agree_contents .agree_title .agree_right a img {margin-left: 4px;}
main .customer_service .agree .agree_contents .agree_info {
    padding: 28px 40px; background: #252525;
}
main .customer_service .agree .agree_contents .agree_info h2 {
    color: #a5a5a5; font-size: 1.75rem;
    font-weight: 700; margin-bottom: 24px;
}
main .customer_service .agree .agree_contents .agree_info h3 {
    color: #a5a5a5; font-weight: 700;
}
main .customer_service .agree .agree_contents .agree_info p {
    color: #a5a5a5; font-size: 0.875rem;
    line-height: 1.7;
}
main .customer_service .agree .agree_contents .agree_info strong {
    font-size: 0.875rem; color: #a5a5a5;
    font-weight: 700;
}
main .customer_service .agree .agree_contents .agree_info .last {margin-bottom: 24px;}
main .customer_service .agree .agree_contents .agree_info p a {
    color: #888; font-size: 0.875rem;
}
main .customer_service .agree .agree_contents .agree_version {
    display: flex; justify-content: center;
    margin-top: 40px; 
}
main .customer_service .agree .agree_contents .agree_version .verFilter {
    color: #a5a5a5; background: #252525;
    padding: 8px 60px 8px 20px;
}
main .customer_service .agree .agree_contents .agree_version .verFilter option {
    color: #a5a5a5;
}