h1 {
    max-width: 1240px; margin: 0 auto;
    height: 112px; position: sticky; top: 0;
    display: flex; align-items: center;
    background: #1b1b1b; z-index: 9999;
}
h1 a {}
h1 a img {}
/* main */
main {
    max-width: 1240px; margin: 0 auto;
    padding: 60px 0 80px;
}
main .inquiry_top {
    margin-bottom: 40px;
    text-align: center;
}

main .inquiry_top .m_title {
    display: none;
}
main .inquiry_top .m_content {
    display: none;
}

main .inquiry_top .m_title {
    color: #a5a5a5; font-size: 1.625rem;
    margin-bottom: 14px;
}

main .inquiry_top .m_title img{
    width: 30px; height: 30px;
    text-align: center;
    color: #1351f9;
}

main .inquiry_top .w_title {
    color: #a5a5a5; font-size: 1.625rem;
    margin-bottom: 14px;
}
main .inquiry_top p {
    color: #a5a5a5; line-height: 1.5;
}
main .text {
    color: #a5a5a5; margin-bottom: 10px;
    text-align: right; position: relative;
    font-size: 0.875rem;
}
main .text::before {
    content: ''; display: inline-block;
    width: 5px; height: 5px; border-radius: 50%;
    background: #1351f9; position: absolute;
    top: 50%; right: 175px;
    transform: translateY(-50%);
}
main #inquiryFrm {}
main #inquiryFrm fieldset {
    border-top: 1px solid #2f2f2f;
    border-bottom: 1px solid #2f2f2f;
}
main #inquiryFrm fieldset dl {
    display: flex; align-items: center;
}
main #inquiryFrm fieldset dl dt {
    padding: 24px 0 12px 40px; color: #a5a5a5;
    font-weight: 700; width: 280px;
    position: relative; width: 25%;
}

main #inquiryFrm fieldset dl .name {
    display: none;
}


main #inquiryFrm fieldset dl .m_name {
    display: none;
}

main #inquiryFrm fieldset dl dt::before {
    content: ''; display: inline-block;
    width: 5px; height: 5px; border-radius: 50%;
    background: #1351f9; position: absolute;
    top: 55%; left: 25px;
}
main #inquiryFrm fieldset dl:nth-of-type(6) dt::before,
main #inquiryFrm fieldset dl:nth-of-type(8) dt::before{
    background: none;
}
main #inquiryFrm fieldset dl dd {
    padding: 12px 28px 12px 0; width: 75%;
}
main #inquiryFrm fieldset dl dd #user_name {
    width: 50%; height: 46px;
    color: #a5a5a5; padding: 0 20px;
    border-radius: 10px; background: #252525;
}
main #inquiryFrm fieldset dl dd #user_email {
    width: 50%; height: 46px;
    color: #a5a5a5; padding: 0 20px;
    border-radius: 10px; background: #252525;
}
main #inquiryFrm fieldset dl dd span {
    color: #717171; margin-top: 9px;
    font-size: 0.875rem; display: block;
}
main #inquiryFrm fieldset dl dd #user_num {
    width: 50%; height: 46px;
    color: #a5a5a5; padding: 0 20px;
    border-radius: 10px; background: #252525;
}
main #inquiryFrm fieldset dl dd #question {
    width: 50%; height: 46px;
    padding-left: 20px; color: #fff;
    border-radius: 10px; background: #252525;
}
main #inquiryFrm fieldset dl dd #question option {
    color: #a5a5a5;
}
main #inquiryFrm fieldset dl dd label {
    color: #a5a5a5; margin-right: 25px;
    display: flex; align-items: center;
}
main #inquiryFrm fieldset dl:nth-of-type(5) dd,
main #inquiryFrm fieldset dl:nth-of-type(7) dd {
    display: flex;
}
main #inquiryFrm fieldset dl dd label::before {
    content: ''; display: inline-block; margin-right: 8px;
    width: 23px; height: 23px; border: 1px solid #a5a5a5;
}
main #inquiryFrm fieldset dl dd input {
    appearance: none;
}
main #inquiryFrm fieldset dl dd input:checked + label::before {
    background: url(../images/customer_service/check.png);
    border: 1px solid #1351f9; margin-right: 8px;
}
main #inquiryFrm fieldset dl dd #program_info {
    width: 80%; height: 160px;
    padding: 12px 20px; color: #a5a5a5;
    background: #252525; border: none;
    border-radius: 10px;
}
main #inquiryFrm fieldset dl dd #os_browser {
    width: 80%; height: 95px;
    padding: 12px 20px; color: #a5a5a5;
    background: #252525; border: none;
    border-radius: 10px;
}
main #inquiryFrm fieldset dl:nth-of-type(9) dd {
    display: flex; flex-flow: column nowrap;
}
main #inquiryFrm fieldset dl dd #inquiry_box {
    width: 100%; height: 46px;
    color: #a5a5a5; padding: 0 20px;
    border-radius: 10px; background: #252525;
}
main #inquiryFrm fieldset dl dd #inquiry_contents {
    width: 80%; height: 350px;
    padding: 12px 20px; color: #a5a5a5;
    background: #252525; border: none;
    border-radius: 10px; margin-top: 10px;
}
main #inquiryFrm fieldset dl dd {
    color: #717171; font-size: 0.875rem;
    line-height: 1.5;
}
main #inquiryFrm fieldset dl dd strong {
    font-size: 0.875rem; color: #fff;
    font-weight: 700;
}
main #inquiryFrm .cancel_submit {
    margin-top: 40px; display: flex;
    justify-content: center;
}
main #inquiryFrm #cancelBtn {
    width: 250px; height: 52px;
    border-radius: 50px; margin: 0 5px;
    font-size: 1.125rem; color: #fff;
    font-weight: 700; background: #5e5e5e;
}
main #inquiryFrm #submitBtn {
    width: 250px; height: 52px;
    border-radius: 50px; margin: 0 5px;
    font-size: 1.125rem; color: #fff;
    font-weight: 700; background: #1351f9;
}