main .event_wrap {
    background: #1b1b1b;
}
main .event_wrap .event_title {
    background:  #252525;
    justify-content: center;
    text-align: center;
    padding: 55px 0 55px 0px;
}
main .event_wrap .event_title img {}
main .event_wrap .event_title h1 {
    font-size: 1.5rem; color: #fff;
}
/* 탭 */
main .event_wrap .event_title_tap {
    border-bottom: 1px solid #2f2f2f;
    height: 68px; 
}
/* 진행중 이벤트 */
main .event_wrap .event_title_tap .taget {
    color: #fff; font-size: 1.125rem;
    border-bottom: 4px solid #1351f9;
    line-height: 63px;  
    padding: 0 10px 19px;
}
/* 당첨자 발표 */
main .event_wrap .event_title_tap a {
    color: #fff;  font-size: 1.125rem;
}
main .event_wrap .event_middle {
    max-width: 1240px; margin: 0 auto;
    position: relative;
}
main .event_wrap .event_middle .event_content {
    margin-top: 30px; margin-bottom: 40px;
}
main .event_wrap .event_middle .event_content::after {
    content: ""; 
    position: absolute; 
    left: 0; 
    bottom: 255px; 
    width: 100%; 
    height: 1px; 
    background-color:#2f2f2f; 
}
main .event_wrap .event_middle .event_content a {
    display: flex;
}
main .event_wrap .event_middle .event_content a .content_left{
    margin-right: 30px;
}
main .event_wrap .event_middle .event_content a .content_left img {
    width: 260px; border-radius: 10px;
}
main .event_wrap .event_middle .event_content a .content_right {
    width: 360px;
    padding: 0px 0px 0px 0px;
    display: block;
    display: flex;
    flex-flow: row wrap;
}
/*  [신년특집] 웨이브와 함께~ */
main .event_wrap .event_middle .event_content a .content_right .event_h1 {
    color: #a5a5a5; font-size:1.25rem; display: flex;
    margin-bottom: 10px;  
}
/* 기간 경품 */
main .event_wrap .event_middle .event_content a .content_right .event_h {
    color: #a5a5a5;  width: 40px;
    flex-flow: column nowrap;
}
main .event_wrap .event_middle .event_content a .content_right .event_c {
    color: #717171;  width: calc(100% - 70px);
}
main .event_wrap .event_middle .page_a {
    text-align: center;
    padding-bottom: 190px;
    padding-top: 30px;
}
main .event_wrap .event_middle .page_a .taget { 
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 8px 14px 8px 14px; 
    font-size: 0.875rem; 
    color: #fff; 
}