main .holding_coupon_wrap { 
    background: #1b1b1b;
}

main .holding_coupon_wrap .main_wrap { 
    max-width: 1240px;
    margin: 0 auto;
}

/* 쿠폰내역 h1 */
main .holding_coupon_wrap .holding_title {
    background-color:#252525 ;
    padding: 40px 0; margin-bottom: 40px;
}

main .holding_coupon_wrap .holding_title h1 {
    font-size: 1.5rem; color: #fff;
    margin: 0 auto; width: 1240px;
}

/* 보유 쿠폰내역 */
main .holding_coupon_wrap .holding_coupon_middle {}

main .holding_coupon_wrap .holding_coupon_middle .holding_middle_title {
    justify-content:space-between;
    text-align: left;
    
}
main .holding_coupon_wrap .holding_coupon_middle .holding_middle_title .m_title {
    display: none;
}

main .holding_coupon_wrap .holding_coupon_middle .holding_middle_title h3 {
    font-size: 1.5rem; color:#fff;
    margin-bottom: 20px;
}

/* 안 쪽 회색 박스 */
main .holding_coupon_wrap .holding_coupon_middle .holding_coupon_main {
background-color:#252525 ;
padding: 40px 170px;
border-radius: 5px;
padding-bottom: 70px;
margin: 0 auto;
width: 1240px;
}

main .holding_coupon_wrap .holding_coupon_middle .holding_coupon_main form {}

main .holding_coupon_wrap .holding_coupon_middle .holding_coupon_main form fieldset {
    border: none;
    justify-content: space-around; text-align: right;    
}

/* 쿠폰 번호를 입력해주세요 창 */
main .holding_coupon_wrap .holding_coupon_middle .holding_coupon_main form fieldset .skip { display: none;}

main .holding_coupon_wrap .holding_coupon_middle .holding_coupon_main form fieldset .input_container {display: flex;}

main .holding_coupon_wrap .holding_coupon_middle .holding_coupon_main form fieldset .holding_coupon_input {
    display: inline-block;
    background-color: #2F2F2F;
    border: 1px solid #2F2F2F;
    border-radius: 5px; 
    width: 770px; height: 54px;
    margin-right: 20px;
    caret-color: #fff;
    color: #5e5e5e;
    padding: 0px 20px 0px 20px;
}

/* 쿠폰등록 버튼  */
main .holding_coupon_wrap .holding_coupon_middle .holding_coupon_main form fieldset .holding_coupon_btn {
    background-color: #1351f9;
    border: 1px solid #1351f9;
    border-radius: 50px;
    padding: 1px 25px 1px 25px;
    font-size: 0.8125rem;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    width: 119px;
}

/* ul>li 내용들 */
main .holding_coupon_wrap .holding_coupon_middle .holding_coupon_main .holding_coupon_container {
    display: flex;  justify-content: space-around; 
    margin-top: 30px;
}
/* ul */
main .holding_coupon_wrap .holding_coupon_middle .holding_coupon_main .holding_coupon_container .holding_coupon_font{
    text-align: center;
    
}
/* 공통 폰트 */
main .holding_coupon_wrap .holding_coupon_middle .holding_coupon_main .holding_coupon_container .holding_coupon_font{
    font-size: 0.875rem;
}
/* left */
main .holding_coupon_wrap .holding_coupon_middle .holding_coupon_main .holding_coupon_container .holding_coupon_font_left{}

main .holding_coupon_wrap .holding_coupon_middle .holding_coupon_main .holding_coupon_container .holding_coupon_font_left li {
    color: #5e5e5e; margin-top: 10px; position: relative;
}
main .holding_coupon_wrap .holding_coupon_middle .holding_coupon_main .holding_coupon_container .holding_coupon_font_left li .dot_font  {
    width: 3px;
    height: 3px;
    border-radius: 100px;
    background-color: #717171;
    margin-top: 0px;
    display: inline-block;
    position: absolute; top: 9px; left: -6px;
}

main .holding_coupon_wrap .holding_coupon_middle .holding_coupon_main .holding_coupon_container .holding_coupon_font_left li p {
    color: #5e5e5e; text-align: left;
}
/* right */
main .holding_coupon_wrap .holding_coupon_middle .holding_coupon_main .holding_coupon_container .holding_coupon_font_right{}

main .holding_coupon_wrap .holding_coupon_middle .holding_coupon_main .holding_coupon_container .holding_coupon_font_right li {
    position: relative;
}

main .holding_coupon_wrap .holding_coupon_middle .holding_coupon_main .holding_coupon_container .holding_coupon_font_right li .dot_font{
    width: 3px;
    height: 3px;
    border-radius: 100px;
    background-color: #717171;
    margin-top: 0px;
    margin-right: 6px;
    display: inline-block;
    position: absolute; top: 9px; left: -6px;
}

main .holding_coupon_wrap .holding_coupon_middle .holding_coupon_main .holding_coupon_container .holding_coupon_font_right li {
    color: #5e5e5e; margin-top: 10px;
}

main .holding_coupon_wrap .holding_coupon_middle .holding_coupon_main .holding_coupon_container .holding_coupon_font_right li p {
    color: #5e5e5e; text-align: left;
}
/* 보유쿠폰 | 소진 쿠폰 */
main .holding_coupon_wrap .main_wrap .holding_exhaust {
    margin-top: 60px;
}
main .holding_coupon_wrap .main_wrap .holding_exhaust .holding_exhaust_nav {
    display: flex; flex-flow: row nowrap;
}
/* 보유 소진 쿠폰 공통 폰트 */
main .holding_coupon_wrap .main_wrap .holding_exhaust .holding_exhaust_nav li .coupon_font {}

/* 보유쿠폰 */
main .holding_coupon_wrap .main_wrap .holding_exhaust .holding_exhaust_nav li {list-style: none;}

main .holding_coupon_wrap .main_wrap .holding_exhaust .holding_exhaust_nav li .holding_coupon_nav{
    font-size: 1.125rem; color: #a5a5a5; position: relative;
}

main .holding_coupon_wrap .main_wrap .holding_exhaust .holding_exhaust_nav li a {
    color: #2f2f2f; margin-right: 10px;
}
/* 중간에 | 선 */
main .holding_coupon_wrap .main_wrap .holding_exhaust .holding_exhaust_nav li:first-child a::after {
    content: ""; display: inline-block;
    background:#2f2f2f; width: 1.5px; height: 15px;
    position: relative; top: 1px;
    margin:0px 3px 0px 15px; 
}

main .holding_coupon_wrap .main_wrap  .holding_exhaust .holding_exhaust_nav li .holding_coupon_nav {}
main .holding_coupon_wrap  .main_wrap .holding_exhaust .holding_exhaust_nav li .exhaust_coupon_nav {  font-size: 1.125rem; color: #a5a5a5;}

/* 쿠폰이 없어요. 부분 */
main .holding_coupon_wrap .not_coupon {
    text-align: center;
}

main .holding_coupon_wrap  .main_wrap .not_coupon .holding_not_coupon {
    padding: 78px 0px 126px;
}
/* 이미지 공통 태그 */
main .holding_coupon_wrap  .main_wrap .not_coupon .not_coupon_img img{}

main .holding_coupon_wrap .main_wrap  .not_coupon .holding_not_coupon img {}

main .holding_coupon_wrap .main_wrap  .not_coupon .holding_not_coupon  p {
    margin-top: 10px;
    color: #a5a5a5;
    font-size: 1.375rem;
}
/* 소진된 쿠폰이 없어요 */
main .holding_coupon_wrap .main_wrap .not_coupon .exhaust_not_coupon {
    padding: 78px 0px 126px;
}

main .holding_coupon_wrap .main_wrap .not_coupon .exhaust_not_coupon img {}

main .holding_coupon_wrap .main_wrap .not_coupon .exhaust_not_coupon  p {
    margin-top: 10px;
    font-size: 1.375rem; color: #a5a5a5;
}