/* 팝업 영상 */
.popup_video {
    width: 450px; position: fixed;
    right: 40px; bottom: 200px; z-index: 9997;
    display: flex; flex-flow: column nowrap;
    align-items: flex-end;
}
.popup_video > a {
    width: 30px; margin-bottom: 10px;
}
.popup_video > a img {width: 100%;}
.popup_video .video {
    position: relative; height: 254px;
    overflow: hidden;
}
.popup_video .video video {
    width: 100%; height: 100%;
}
.popup_video .video .popup_video_top {
    width: 100%; height: 100px; top: -100px;
    background: rgb(0,0,0); position: absolute;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
    transition: 0.5s;
}
.popup_video .video:hover .popup_video_top {
    top: 0;
}
.popup_video .video .popup_video_bottom {
    width: 100%; height: 100px; bottom: -100px;
    background: rgb(0,0,0); position: absolute;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
    transition: 0.5s;
}
.popup_video .video:hover .popup_video_bottom {
    bottom: 0;
}
.popup_video .video .playbar {
    background: rgba(0, 0, 0, 0.2);
    width: 98%; height: 7px; border-radius: 10px;
    position: absolute; bottom: 50px; left: 50%;
    transform: translateX(-50%);
}
.popup_video .video .playbar .play {
    background: #1351f9; border-radius: 10px;
    width: 70%; height: 7px;
}
.popup_video .video .icon {
    width: 98%; align-items: center;
    display: flex; justify-content: flex-start;
    position: absolute; bottom: 10px; left: 50%;
    transform: translate(-50%); transition: 0.5s;
}
.popup_video .video .icon a {
    width: 34px; margin-right: 12px;
}
.popup_video .video .icon a img {width: 100%;}
.popup_video .video .icon span {
    color: #fff; font-size: 0.875rem;
}

/* 관심등록 팝업 */
.favorite {
    background: #252525; position: fixed;
    color: #fff; bottom: 50px;
    left: 50%; transform: translateX(-50%);
    padding: 40px 80px; border-radius: 50px;
    z-index: 9999; font-size: 1.2rem;
}

/* 공유 */
.share_bg {
    background: rgba(0, 0, 0, 0.8); z-index: 9999;
    position: fixed; height: 100vh; width: 100%;
    top: 0;
}
.share_bg .share {
    background: #252525; width: 460px;
    height: 329px; border-radius: 10px;
    padding: 40px; display: flex;
    flex-flow: column nowrap;
    justify-content: center; align-items: center;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.share_bg .share h2 {
    margin-bottom: 28px; font-size: 1.5rem;
    font-weight: 700; color: #fff;
}
.share_bg .share .twitter_facebook {
    margin-bottom: 28px; display: flex;
}
.share_bg .share .twitter_facebook a {
    display: flex; align-items: center;
    flex-flow: column nowrap;
}
.share_bg .share .twitter_facebook a:first-child {margin-right: 40px;}
.share_bg .share .twitter_facebook a img {}
.share_bg .share .twitter_facebook a span {
    color: #a5a5a5; margin-top: 11px;
}
.share_bg .share .link_copy {}
.share_bg .share .link_copy #link {
    width: 255px; height: 38px; color: #a5a5a5;
    padding: 9px 14px; background: #2f2f2f;
    font-size: 0.875rem;
}
.share_bg .share .link_copy #copyBtn {
    width: 79px; height: 37px;
    margin-left: 6px; color: #fff;
    font-weight: 700; background: #1351f9;
    border-radius: 50px; font-size: 0.875rem;
}
.share_bg .share > a {
    position: absolute; top: 0; right: -40px;
}
.share_bg .share > a img {}
.share_bg .copy {
    background: #252525; position: absolute;
    color: #fff; bottom: 50px;
    left: 50%; transform: translateX(-50%);
    padding: 40px 80px; border-radius: 50px;
    z-index: 9999; font-size: 1.2rem;
}

/* main */
main {}
main .video_bg {
    display: flex;
    justify-content: center;
    background: #000; align-items: center;
}
main .video_bg .video {
    max-width: 1240px; position: relative;
    overflow: hidden;
}
main .video_bg .video video {
    width: 100%;
}
main .video_bg .video .video_top {
    width: 100%; height: 250px; top: -250px;
    background: rgb(0,0,0); position: absolute;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
    transition: 0.5s;
}
main .video_bg .video:hover .video_top {
    top: 0;
}
main .video_bg .video > a {
    width: 104px; position: absolute;
    top: 50%; left: 50%; z-index: 1;
    transform: translate(-50%, -50%);
    opacity: 0; transition: 0.5s;
}
main .video_bg .video:hover > a {
    opacity: 1;
}
main .video_bg .video > a img {width: 100%;}
main .video_bg .video .video_bottom {
    width: 100%; height: 250px; bottom: -250px;
    background: rgb(0,0,0); position: absolute;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
    transition: 0.5s;
}
main .video_bg .video:hover .video_bottom {
    bottom: 0;
}
main .video_bg .video .video_bottom .playbar {
    background: rgba(0, 0, 0, 0.2);
    width: 98%; height: 7px; border-radius: 10px;
    position: absolute; bottom: 70px; left: 50%;
    transform: translateX(-50%);
}
main .video_bg .video .video_bottom .playbar .play {
    background: #1351f9; border-radius: 10px;
    width: 70%; height: 7px;
}
main .video_bg .video .video_bottom .icon {
    width: 98%; align-items: center;
    display: flex; justify-content: space-between;
    position: absolute; bottom: 10px; left: 50%;
    transform: translateX(-50%);
}
main .video_bg .video .video_bottom .icon .left {
    display: flex; align-items: center;
}
main .video_bg .video .video_bottom .icon .left a {
    width: 34px; margin-right: 12px;
}
main .video_bg .video .video_bottom .icon .left a img {width: 100%;}
main .video_bg .video .video_bottom .icon .left span {
    color: #fff; font-size: 0.875rem;
}
main .video_bg .video .video_bottom .icon .right {
    display: flex;
}
main .video_bg .video .video_bottom .icon .right a {
    width: 34px; margin-left: 12px;
}
main .video_bg .video .video_bottom .icon .right a img {width: 100%;}
main .video_title {
    padding-top: 40px; max-width: 1240px;
    margin: 0 auto;
}
main .video_title .title_top {
    display: flex; justify-content: space-between;
}
main .video_title .title_top h2 {
    font-size: 1.75rem; color: #fff;
}
main .video_title .title_top #playBtn {
    padding: 12px 40px; color: #fff;
    background: #1351f9; border-radius: 50px;
}
main .video_title p {
    margin-bottom: 15px;
    color: #a5a5a5; font-weight: 700;
}
main .video_title .icon_box {
    display: flex;
}
main .video_title .icon_box a {
    width: 60px; height: 52px;
    margin-right: 20px;
    display: flex; flex-flow: column nowrap;
    align-items: center;
}
main .video_title .icon_box a img {}
main .video_title .icon_box a span {
    font-size: 0.75rem; margin-top: 4px;
    color: #a5a5a5;
}
main .schedule {
    padding: 40px 0;
    max-width: 1240px; margin: 0 auto;
}
main .schedule h2 {
    font-size: 1.5rem; color: #fff;
    margin-bottom: 20px;
}
main .schedule .time_table {
    max-width: 1240px; margin: 0 auto;
    position: relative;
}
main .schedule .time_table .swiper_schedule {
    max-width: 1160px; margin: 0 auto;
    overflow: hidden;
}
main .schedule .time_table .swiper_schedule .schedule_wrap {}
main .schedule .time_table .swiper_schedule .swiper-slide {
    width: 240px; height: 100px;
    padding: 24px 16px; border: 1px solid #2f2f2f;
    display: flex; justify-content: space-between;
    align-items: center;
}
main .schedule .time_table .swiper_schedule .swiper-slide .schedule_info {}
main .schedule .time_table .swiper_schedule .swiper-slide .schedule_info h3 {
    margin-bottom: 2px; color: #a5a5a5;
}
main .schedule .time_table .swiper_schedule .swiper-slide .schedule_info p {color: #a5a5a5;}
main .schedule .time_table .swiper_schedule .swiper-slide i {
    font-size: 1.5rem; color: #a5a5a5;
    cursor: pointer;
}
main .schedule .time_table .swiper_schedule #schedule_prev {
    position: absolute; left: 0;
}
main .schedule .time_table .swiper_schedule #schedule_prev::after {display: none;}
main .schedule .time_table .swiper_schedule #schedule_prev img {}
main .schedule .time_table .swiper_schedule #schedule_next {
    position: absolute; right: 0;
}
main .schedule .time_table .swiper_schedule #schedule_next::after {display: none;}
main .schedule .time_table .swiper_schedule #schedule_next img {}
main .all_schedule {
    max-width: 1240px; margin: 0 auto;
}
main .all_schedule .title_refresh {
    height: 68px;
    display: flex; justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2f2f2f;
}
main .all_schedule .title_refresh .all_recommend {
    height: 100%; display: flex;
}
main .all_schedule .title_refresh .all_recommend a {
    padding: 0 10px; font-size: 1.125rem;
    color: #a5a5a5; display: flex; margin-right: 20px;
    height: 100%; align-items: center; border-bottom: 1px solid #1b1b1b;
}
main .all_schedule .title_refresh > a {
    color: #a5a5a5; display: flex;
    align-items: center;
}
main .all_schedule .title_refresh > a img {margin-right: 5px;}
main .all_schedule .live_title {
    display: flex; justify-content: flex-end;
}
main .all_schedule .live_title #filter {
    background-color: #252525; color: #a5a5a5;
    padding: 8px 60px 8px 20px; margin: 20px 0;
    background-image: url(../images/live/filter.png);
    background-repeat: no-repeat;
    background-position: right;
}
main .all_schedule .live_title #filter option {
    color: #a5a5a5;
}
main .all_schedule .live_video {
    display: flex; flex-flow: row wrap;
    justify-content: space-between;
}
main .all_schedule .live_video a {
    margin-bottom: 40px; width: calc(20% - 10px);
    overflow: hidden;
    border-radius: 10px; position: relative;
}
main .all_schedule .live_video a video {
    width: 100%; border-radius: 10px;
    overflow: hidden;
}
main .all_schedule .live_video a .playbar {
    background: rgba(0, 0, 0, 0.2); border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50px;
    width: 100%; height: 5px;
    position: absolute; bottom: 66px;
}
main .all_schedule .live_video a .playbar .play {
    background: #1351f9; border-bottom-left-radius: 10px;
    width: 30%; height: 5px;
}
main .all_schedule .live_video a .video_title {
    padding: 8px 12px 0 0;
}
main .all_schedule .live_video a .video_title h3 {
    color: #a5a5a5; margin-bottom: 4px;
}
main .all_schedule .live_video a .video_title p {
    color: #a5a5a5; font-size: 0.875rem;
}
main .all_schedule .live_video a > p {
    padding: 4px 8px; position: absolute;
    top: 10px; left: 10px; font-size: 0.75rem;
    background: #000000cc; color: #1351f9;
    font-weight: 700;
    border: 1px solid #000; border-radius: 5px;
}
main .all_schedule .recommend {
    display: flex; flex-flow: column nowrap;
}
main .all_schedule .recommend section {margin-top: 40px;}
main .all_schedule .recommend .relevant_vod {padding-bottom: 100px;}
main .all_schedule .recommend section h2 {
    margin-bottom: 24px;
    font-size: 1.5rem; color: #fff;
}
main .all_schedule .recommend section .swiper_channel {
    max-width: 1240px; overflow: hidden;
    position: relative;
}
main .all_schedule .recommend section .swiper_channel .channel_wrap {}
main .all_schedule .recommend section .swiper_channel .channel_wrap a {margin-right: 10px;}
main .all_schedule .recommend section .swiper_channel .channel_wrap a img {
    width: 100%; border-radius: 10px;
    margin-bottom: 10px;
}
main .all_schedule .recommend section .swiper_channel .channel_wrap a span {
    color: #a5a5a5; margin-top: 10px;
}
main section .swiper_channel .channel_prev {
    position: absolute; top: 45%; left: 0;
    transition: 0.2s;
    transform: translateX(-30px);
}
main section .swiper_channel .channel_prev::after {display: none;}
main section:hover .swiper_channel .channel_prev {transform: translateX(0);}

main section .swiper_channel .channel_next {
    position: absolute; top: 45%; right: 0;
    transition: 0.2s;
    transform: translateX(30px);
}
main section .swiper_channel .channel_next::after {display: none;}
main section:hover .swiper_channel .channel_next {transform: translateX(0);}