h1 {
    max-width: 1240px; margin: 0 auto;
    height: 112px; position: sticky; top: 0;
    display: flex; align-items: center;
    background: #1b1b1b; z-index: 9999;
}
h1 a {}
h1 a img {}
main {}
main .find_pw {
    max-width: 560px;
    margin: 80px auto; text-align: center;
    background: #252525;
}
main .find_pw .find_pw_m {
    height: 58px;
    border-bottom: 1px solid #2f2f2f;
    display: flex;
}
main .find_pw .find_pw_m .info,
main .find_pw .find_pw_m .certified {
    height: 100%; width: 50%;
    display: flex; justify-content: center;
}
main .find_pw .find_pw_m .info a,
main .find_pw .find_pw_m .certified a {
    color: #a5a5a5; display: flex;
    align-items: center;
}
main .find_pw .info_box {
    padding: 40px;
}
main .find_pw .info_box h2 {
    margin-bottom: 40px; font-size: 1.5rem;
    color: #a5a5a5; line-height: 1.5;
}
main .find_pw .info_box .method {
    width: 488px; height: 188px;
    display: flex; align-items: center;
}
main .find_pw .info_box .method a {
    width: 50%; height: 100%; display: flex;
    flex-flow: column nowrap; justify-content: center;
    align-items: center;
    border: 1px solid #fff; border-radius: 10px;
    padding: 41px 0 36px; margin-right: 8px;
}
main .find_pw .info_box .method a:last-child {
    margin: 0;
}
main .find_pw .info_box .method a img {}
main .find_pw .info_box .method a strong {
    margin-top: 13px; color: #fff;
}
main .find_pw .info_box .method a span {
    margin-top: 2px; color: #a5a5a5;
}
main .find_pw .info_box .method_info {}
main .find_pw .info_box .method_info .m_title {
    display: none;
}
main .find_pw .info_box .method_info #findIdFrm {}
main .find_pw .info_box .method_info #findIdFrm fieldset {}
main .find_pw .info_box .method_info #findIdFrm fieldset .radio {
    margin-bottom: 16px; text-align: left;
    display: flex;
}
main .find_pw .info_box .method_info #findIdFrm fieldset #user_num {}
main .find_pw .info_box .method_info #findIdFrm fieldset #user_email {}
main .find_pw .info_box .method_info #findIdFrm fieldset input {
    appearance: none;
}
main .find_pw .info_box .method_info #findIdFrm fieldset label {
    color: #a5a5a5; margin-right: 20px;
    display: flex; align-items: center;
    font-size: 0.875rem;
}
main .find_pw .info_box .method_info #findIdFrm fieldset label::before {
    width: 23px; height: 23px; content: '';
    display: inline-block; margin-right: 10px;
    background: url(../images/login/radio-normal.png);
}
main .find_pw .info_box .method_info #findIdFrm fieldset input:checked + label::before {
    width: 23px; height: 23px; content: '';
    display: inline-block;
    background: url(../images/login/radio-purple.png);
}
main .find_pw .info_box .method_info #findIdFrm fieldset #user_id {
    background: #2f2f2f; padding: 0 20px;
    width: 480px; height: 53px; border-radius: 10px;
    margin-bottom: 10px; color: #a5a5a5;
}
main .find_pw .info_box .method_info #findIdFrm fieldset .certified_submit {
    position: relative;
}
main .find_pw .info_box .method_info #findIdFrm fieldset .certified_submit #user_tel {
    background: #2f2f2f; padding: 0 20px;
    width: 480px; height: 53px; border-radius: 10px;
    margin-bottom: 10px; color: #a5a5a5;
}
main .find_pw .info_box .method_info #findIdFrm fieldset .certified_submit #telBtn {
    color: #3887ff; padding: 10px 4px;
    position: absolute; right: 16px; top: 5px;
}
main .find_pw .info_box .method_info #findIdFrm fieldset #user_certified {
    background: #2f2f2f; padding: 0 20px;
    width: 480px; height: 53px; border-radius: 10px;
    margin-bottom: 10px; color: #a5a5a5;
}
main .find_pw .info_box .method_info #findIdFrm fieldset #submitBtn {
    width: 100%; height: 60px; color: #fff;
    background: #1351f9; margin: 40px 0;
    border-radius: 50px; font-size: 1.125rem;
}
main .find_pw .info_box .method_info p {
    padding-left: 10px;
    font-size: 0.875rem; color: #717171;
    text-align: left; position: relative;
}
main .find_pw .info_box .method_info p::before {
    content: ''; display: inline-block;
    background: #717171; width: 3px; height: 3px;
    border-radius: 50%;
    position: absolute; top: 20%; left: 0;
}
main .find_pw .common_box {
    padding: 40px;
}
main .find_pw .common_box h2 {
    margin-bottom: 40px; font-size: 1.5rem;
    color: #a5a5a5; line-height: 1.5;
}
main .find_pw .common_box .method {
    width: 488px; height: 188px;
    display: flex; align-items: center;
}
main .find_pw .common_box .method a {
    width: 50%; height: 100%; display: flex;
    flex-flow: column nowrap; justify-content: center;
    align-items: center;
    border: 1px solid #fff; border-radius: 10px;
    padding: 41px 0 36px; margin-right: 8px;
}
main .find_pw .common_box .method a:last-child {
    margin: 0;
}
main .find_pw .common_box .method a img {}
main .find_pw .common_box .method a span {
    margin-top: 13px; color: #fff;
}
main .find_pw .common_box p {
    margin-top: 12px; padding-left: 10px;
    font-size: 0.875rem; color: #717171;
    text-align: left; position: relative;
}
main .find_pw .common_box p::before {
    content: ''; display: inline-block;
    background: #717171; width: 3px; height: 3px;
    border-radius: 50%;
    position: absolute; top: 20%; left: 0;
}