main {background: #1b1b1b;}
main .title_wrap {
    background: #252525;
    position: sticky; top: 109px;
}
main .title_wrap .title {
    padding: 40px 0;
    max-width: 1240px; margin: 0 auto;
}
main .title_wrap .title h2 {
    color: #fff; font-size: 1.5rem;
}
main .title_wrap .title p {
    color: #a5a5a5; margin-top: 2px;
}
main .event {
    background: #3468f2;
    display: flex; justify-content: center;
    height: 110px; overflow: hidden;
}
main .event img {max-width: 1024px;
    height: 503px;
}
main .open {
    display: flex; justify-content: center;
    transition: transform 0.3s ease;
}
main .open img {}

main .membership {
    max-width: 1240px; margin: 0 auto;
    padding-bottom: 80px;
}
main .membership .membership_title {
    display: flex;
}
main .membership .membership_title a {
    height: 110px; align-items: center;
    width: 50%; color: #fff;
    display: flex; justify-content: flex-end;
    font-size: 1.25rem; padding: 0 20px;
}
main .membership .membership_title a:nth-of-type(2) {
    color: #a5a5a5; justify-content: flex-start;
}
main .membership .wavve {
    border-top: 1px solid #2f2f2f;
    border-bottom: 1px solid #2f2f2f;
}
main .membership .wavve .step {
    display: flex;
}
main .membership .wavve .step dt {
    width: calc((100% - 230px) / 3); border-left: 1px solid #2f2f2f;
    padding: 54px 16px 20px;
}
main .membership .wavve .step:first-child dt:first-child {
    width: 230px; height: 263px;
    padding: 28px 16px; border: none;
}
main .membership .wavve .step dt h2 {
    color: #fff; font-size: 1.5rem;
    font-weight: 700; text-align: center;
}
main .membership .wavve .step dt button {
    width: 100%;
    margin-top: 12px; padding: 0 16px;
    height: 68px; background: #2f2f2f;
    align-items: center; border-radius: 5px;
    display: flex; justify-content: space-between;
}
main .membership .wavve .step dt button:hover {background: #fff;}
main .membership .wavve .step dt button:hover span {color: #000;}
main .membership .wavve .step dt button span {
    color: #a5a5a5; font-weight: 700;
}
main .membership .wavve .step dt button .left {}
main .membership .wavve .step dt button .left .discount {
    font-size: 0.75rem; margin-left: 4px; padding: 4px 6px;
    background: #3887ff; border-radius: 5px;
    color: #fff;
}
main .membership .wavve .step dt button .right {
    display: flex; flex-flow: column nowrap;
}
main .membership .wavve .step dt button .right .division {font-size: 0.75rem;}
main .membership .wavve dl {
    display: flex;
}
main .membership .wavve dl:nth-of-type(2) {
    border-top: 1px solid #2f2f2f;
}
main .membership .wavve dl:nth-of-type(5) {
    border-bottom: 1px solid #2f2f2f;
}
main .membership .wavve dl dt {
    width: 230px; color: #fff;
    font-size: 0.875rem;
    padding: 28px 16px; border: none;
}
main .membership .wavve dl dd {
    padding: 28px 16px; text-align: center;
    border-left: 1px solid #2f2f2f;
    color: #a5a5a5; width: calc((100% - 230px) / 3);
}
main .membership .partnership {}
main .membership .partnership ul {}
main .membership .partnership ul li {
    padding: 28px 40px; background: #252525;
    border-radius: 10px; margin-bottom: 20px;
}
main .membership .partnership ul li .partner {
    display: flex; justify-content: space-between;
    margin: 10px 0; align-items: center;
}
main .membership .partnership ul li .partner h2 {
    font-size: 1.25rem; color: #fff;
}
main .membership .partnership ul li .partner button {
    width: 120px; background: #2f2f2f; height: 44px;
    color: #a5a5a5; font-weight: 700;
    border-radius: 5px;
}
main .membership .partnership ul li .partner button:hover {
    background: #fff; color: #000;
}
main .membership .partnership ul li .partner .price {}
main .membership .partnership ul li .partner .price span {
    margin-right: 16px; color: #a5a5a5;
    text-decoration: line-through;
}
main .membership .partnership ul li .partner .price button {}
main .membership .partnership ul li table {}
main .membership .partnership ul li table tr {}
main .membership .partnership ul li table tr th {
    color: #7e7e7e; font-size: 0.875rem;
    padding: 6px 0;
}
main .membership .partnership ul li table tr td {
    color: #c1c1c1; font-size: 0.875rem;
    padding: 6px 12px;
}
main .membership .partnership ul li table tr:first-child td {color: #3887ff;}
main .membership .partnership .benefit {
    padding: 36px 40px;
    border: 1px solid #2f2f2f;
}
main .membership .partnership .benefit h3 {
    color: #a5a5a5; font-size: 1.25rem;
    margin-bottom: 20px;
}
main .membership .partnership .benefit p {
    color: #a5a5a5; font-size: 0.875rem;
    margin-top: 8px; display: flex;
    align-items: center;
}
main .membership .partnership .benefit p img {
    width: 20px; margin-right: 8px;
}
main .warning {
    max-width: 1240px; margin: 0 auto; padding-bottom: 20px;
}
main .warning:first-child {margin-top: 100px;}
main .warning:last-child {padding-bottom: 160px;}
main .warning p {
    color: #717171; font-size: 0.875rem;
    margin-bottom: 6px;
}
main .warning span {
    color: #717171; font-size: 0.875rem;
    display: block;
}
main .warning span::before {
    content: ''; display: inline-block;
    width: 3px; height: 3px; margin-right: 5px;
    border-radius: 50%; background: #717171;
}
main .warning span a {
    color: #a5a5a5; font-size: 0.875rem;
    text-decoration: underline;
}

