main {
    padding: 80px 0;
}
main h2 {
    font-size: 1.5rem; color: #fff;
    font-weight: 700; max-width: 1240px;
    margin: 0 auto 20px;
}
main .movie {
    max-width: 1240px; margin: 0 auto;
    display: flex; flex-flow: row wrap;
    justify-content: space-between;
}
main .movie a {
    width: calc(100% / 5 - 10px); overflow: hidden;
    margin-bottom: 40px; border-radius: 10px;
}
main .movie a img {
    width: 100%; transition: 0.2s;
    border-radius: 10px;
}
main .movie a:hover img {transform: scale(1.1);}
main .page {
    padding-bottom: 80px;
    display: flex; justify-content: center;
}
main .page a {
    color: #a5a5a5; width: 36px; height: 36px;
    font-size: 0.875rem; display: flex;
    justify-content: center; align-items: center;
}
main .page a:first-child {
    color: #fff; border: 1px solid #fff;
    border-radius: 50%;
}