section {
    
}

section .self_wrap {
    max-width: 1240px; margin: 0 auto; 
}
section .self_wrap .rogo{
    padding: 61px 0 27px; 
    position: fixed; top: 0;
}
section .self_wrap .rogo img {}
section .self_wrap .contests_background {
    height: 90vh;  margin-top: 176px;
}
section .self_wrap .contests_background .contents {
    margin: 0 auto;
    max-width: 560px; padding: 40px  ;
    background: #252525; overflow: hidden;
}
section .self_wrap .contents h2 {
    margin: 20px 0;
    color: #a5a5a5; font-size: 1.75rem  ;
}
section .self_wrap .contents h2 em {
    color: #fff; font-size: 1.75rem;
}
section .self_wrap .contents .banner{ }
section .self_wrap .contents .banner img { 
    max-width: 480px;  margin-bottom: 54px;
}

section .contents ul {
    max-width: 480px;
    display: flex; margin:  0 auto;
}
section .contents ul li  {
    border: 1px solid #e5e5e5; border-radius: 6px;
    padding: 41px 0 36px; width: 236px; 
} 
section .contents ul li:nth-child(1){margin-right: 8px;}
section .contents ul li a {
    display: flex; flex-flow: column  nowrap;
    align-items: center;
}
section .contents ul li a img  {
    width: 52px; height: 72px;
}
section .contents ul li a span {
    color: #fff; margin-top: 13px;
}
section .self_wrap .contents .text {
    
}
section .self_wrap .contents .text p {
    margin: 12px 0 0; padding: 0 0 0 10px;
    color: #717171; font-size: 0.875rem;
    display: flex;
}
section .self_wrap .contents .text p em {
    color: #a5a5a5;font-size: 0.875rem;
}
section .self_wrap .contents .text  a {
    color: #a5a5a5;font-size: 0.875rem; margin-left: 4px;
    display: flex; flex-flow: row; align-items: center;
}
section .self_wrap .contents .text  a img { width: 9px;
    height: 11px;}
section .self_wrap .contents .skip_main {
}
section .self_wrap .contents .skip_main a  {
    color: #a5a5a5; float: right;
    margin: 16px 0 0
}
section .self_wrap .contents .skip_main a img {
    width: 9px;
    height: 13px;
}